@{
    ViewBag.Title = "Party Hub";
}

<div class="jumbotron">
    <h1>Party Hub</h1>
    <p class="lead">Party Hub is a way to meet new people with similar interests by hosting house parties in your city. Host parties where people can come and talk about similar interests and share thier experiences</p>
    <p><a href="http://localhost:65424/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
    <p><a href="http://localhost:65424/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>
