body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*bootstrap overides*/

.navbar-inverse {
    background-color: #f37f20;
    border-color: #f37f20;
}

.navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
}

.navbar-inverse .navbar-brand {
        color: #ffffff;
}

.party-listing-container {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 3px;
    display: block;
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
}

.event-list-div {
    width: 71.42855%;
    float: left;
}

.main-footer {
    margin-bottom:0px;
    display: block;
    width:100%;
}

.party-listing {
    padding: 16px 16px 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
}

.date {
    padding:0px;
}

.month {
    display:inline-block
}

.day {
    display: inline-block;
}

.row-item--shrink {
    flex-grow:0;
}